section.products {
    background-color: #FFFFFF;
    color: black;
}

section.products div.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2em;
}

section.products article {
    background-color: lavender;
    border-radius: 5px;
    margin: 5px 5px 2em 5px;
    padding: 5px;
    width: 300px;
    box-shadow: 0 6px 12px 0 black;
}

section.products div.articles img {
    width: 275px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623);
    border-radius: 5px;
}

section.products div.articles h4 {
    text-align: center;
    color: black;
    font-size: 23px;
    text-decoration: none;
}

section.products div.articles article{
    text-align: center;
    text-decoration: none;
}
section.products div.background{
    background-color: #F7F7F7;
}